.dropdown-items {
    border: 1px solid gray;
    width: 150px;
    border-top: 0px;
}

.dropdown-button {
    width: 150px;
    border: 1px solid gray;
    margin: 0;
    cursor: default;
    display: flex;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}

p {
    margin: 0;
    padding: 5px;
}

.dropdown-item {
    margin: 0;
}

.dropdown-item:hover {
    background-color: blue;
    color: white;
    cursor: default;
}

.dropdowns-project {
    display: flex;
    gap: 10px;
}

.image-frame {
    position: relative;
}

img {
    object-fit: contain;
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}

.previous-image-button,
.next-image-button {
    opacity: 0.3;
    background-color: black;
    color: white;
    z-index: 1;
    top: 0.5vh;
    grid-column: 1 / 2;
    border: 0;
    position: absolute;
    height: 80px;
    width: 80px;
    transition: 0.4s;
    padding: 0;
    margin: 0;
}

.previous-image-button:hover,
.next-image-button:hover {
    opacity: 0.7;
}

.previous-image-button {
    top: 40%;
}

.next-image-button {
    top: 40%;
    left: 420px;
}
